<a href="https://colab.research.google.com/github/veeransr/ML-and-Deep-learning-practice-with-python/blob/master/pyspark_g1_very_important.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
!pip install -U pyarrow

Collecting pyarrow
  Downloading https://files.pythonhosted.org/packages/ba/3f/6cac1714fff444664603f92cb9fbe91c7ae25375880158b9e9691c4584c8/pyarrow-0.17.1-cp36-cp36m-manylinux2014_x86_64.whl (63.8MB)
     |████████████████████████████████| 63.8MB 61kB/s
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.18.4)
Installing collected packages: pyarrow
  Found existing installation: pyarrow 0.14.1
    Uninstalling pyarrow-0.14.1:
      Successfully uninstalled pyarrow-0.14.1
Successfully installed pyarrow-0.17.1

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set('spark.executor.memory', '4g')
spark.conf.set('spark.driver.memory', '4g')
spark.conf.set('spark.memory.fraction', '0.9')

In [0]:
import sys, urllib, tempfile

In [0]:
!ls /tmp

blockmgr-74fa8818-3387-495c-a73f-7929501032be
hsperfdata_root
spark-799ad84a-07f0-424e-b233-c65b2e36c2c5
spark-91c099f7-8b53-4701-91a1-dd436e976047

In [0]:
Base_DIR = '/tmp'
OUTPUT_FILE=os.path.join(Base_DIR, 'credit_data.csv')

In [0]:
credit_data=urllib.request.urlretrieve('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', OUTPUT_FILE)

In [0]:
!ls /tmp

blockmgr-74fa8818-3387-495c-a73f-7929501032be
credit_data.csv
hsperfdata_root
spark-799ad84a-07f0-424e-b233-c65b2e36c2c5
spark-91c099f7-8b53-4701-91a1-dd436e976047

In [0]:
credit_df=spark.read.option('inferSchema', 'true').csv ('/tmp/credit_data.csv', header=False)

In [0]:
credit_df.show()

+---+-----+------+---+---+---+---+-----+---+---+----+----+----+-----+-----+----+
|_c0|  _c1|   _c2|_c3|_c4|_c5|_c6|  _c7|_c8|_c9|_c10|_c11|_c12| _c13| _c14|_c15|
+---+-----+------+---+---+---+---+-----+---+---+----+----+----+-----+-----+----+
|  b|30.83|   0.0|  u|  g|  w|  v| 1.25|  t|  t|   1|   f|   g|00202|    0|   +|
|  a|58.67|  4.46|  u|  g|  q|  h| 3.04|  t|  t|   6|   f|   g|00043|  560|   +|
|  a|24.50|   0.5|  u|  g|  q|  h|  1.5|  t|  f|   0|   f|   g|00280|  824|   +|
|  b|27.83|  1.54|  u|  g|  w|  v| 3.75|  t|  t|   5|   t|   g|00100|    3|   +|
|  b|20.17| 5.625|  u|  g|  w|  v| 1.71|  t|  f|   0|   f|   s|00120|    0|   +|
|  b|32.08|   4.0|  u|  g|  m|  v|  2.5|  t|  f|   0|   t|   g|00360|    0|   +|
|  b|33.17|  1.04|  u|  g|  r|  h|  6.5|  t|  f|   0|   t|   g|00164|31285|   +|
|  a|22.92|11.585|  u|  g| cc|  v| 0.04|  t|  f|   0|   f|   g|00080| 1349|   +|
|  b|54.42|   0.5|  y|  p|  k|  h| 3.96|  t|  f|   0|   f|   g|00180|  314|   +|
|  b|42.50| 4.915|  y|  p|  w|  v|3.165|  t|  f|   0|   t|   g|00052| 1442|   +|
|  b|22.08|  0.83|  u|  g|  c|  h|2.165|  f|  f|   0|   t|   g|00128|    0|   +|
|  b|29.92| 1.835|  u|  g|  c|  h|4.335|  t|  f|   0|   f|   g|00260|  200|   +|
|  a|38.25|   6.0|  u|  g|  k|  v|  1.0|  t|  f|   0|   t|   g|00000|    0|   +|
|  b|48.08|  6.04|  u|  g|  k|  v| 0.04|  f|  f|   0|   f|   g|00000| 2690|   +|
|  a|45.83|  10.5|  u|  g|  q|  v|  5.0|  t|  t|   7|   t|   g|00000|    0|   +|
|  b|36.67| 4.415|  y|  p|  k|  v| 0.25|  t|  t|  10|   t|   g|00320|    0|   +|
|  b|28.25| 0.875|  u|  g|  m|  v| 0.96|  t|  t|   3|   t|   g|00396|    0|   +|
|  a|23.25| 5.875|  u|  g|  q|  v| 3.17|  t|  t|  10|   f|   g|00120|  245|   +|
|  b|21.83|  0.25|  u|  g|  d|  h|0.665|  t|  f|   0|   t|   g|00000|    0|   +|
|  a|19.17| 8.585|  u|  g| cc|  h| 0.75|  t|  t|   7|   f|   g|00096|    0|   +|
+---+-----+------+---+---+---+---+-----+---+---+----+----+----+-----+-----+----+
only showing top 20 rows

In [0]:
credit_df.count()

690

In [0]:
credit_df.max()

AttributeError: ignored

In [0]:
credit_df.sum()

AttributeError: ignored

In [0]:
credit_df.summary()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string]

The above problem is solved by sc = SparkContext.getOrCreate();

In [0]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate();
rdd = sc.parallelize(range(100))
rdd

PythonRDD[1] at RDD at PythonRDD.scala:53

In [0]:
rdd.count()

100

In [0]:
rdd.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
rdd.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

Note that you should do this only for very small RDDs, otherwise your driver JVM will crash with an out of memory error.

In [0]:
!ls /tmp/

blockmgr-74fa8818-3387-495c-a73f-7929501032be
credit_data.csv
hsperfdata_root
liblz4-java4528805753571842890.so
spark-799ad84a-07f0-424e-b233-c65b2e36c2c5
spark-91c099f7-8b53-4701-91a1-dd436e976047

Creat a new python in data science experience in IBM.

In [0]:
rdd.map(lambda x: x+10).take(10)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [0]:
sc.parallelize(range(1,101)).reduce(lambda a,b: a+b)

5050

In [0]:
def gt(i):
  return i>50

gt(51)

True

In [0]:
gt(4)

False

In [0]:
gt1=lambda i: i>50
gt1(3)

False

In [0]:
gt(150)

True

In [0]:
from random import shuffle
l = list(range(10))
shuffle(l)
l

[7, 3, 5, 0, 9, 2, 1, 4, 6, 8]

In [0]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

In [0]:
rdd.filter(gt1).collect()

[83,
 61,
 63,
 90,
 92,
 54,
 79,
 52,
 88,
 87,
 68,
 78,
 67,
 56,
 82,
 65,
 77,
 97,
 84,
 62,
 80,
 53,
 60,
 81,
 75,
 94,
 98,
 59,
 76,
 58,
 66,
 55,
 72,
 89,
 73,
 74,
 57,
 71,
 99,
 86,
 51,
 70,
 95,
 93,
 85,
 91,
 96,
 64,
 69]

In [0]:
x=0
rdd.filter(lambda x: x>50).filter(lambda x: x<75).sum()

1500

In [0]:
x=0
y=0
rdd.filter(lambda x: x>50).filter(lambda x: x<75).sum()

1500

In [0]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

# <span style="color:red"><<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>></span>

In [0]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [0]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [0]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

# let's have a look what's inside
df.show()

# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

Now we register this DataFrame as query table and issue an SQL statement against it. Please note that the result of the SQL execution returns a new DataFrame we can work with.

In [0]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute SQL query
df_result = spark.sql('select value from df_view where id=2')

# examine contents of result
df_result.show()

# get result as string
df_result.first().value

+------+
| value|
+------+
|value2|
+------+

'value2'

In [0]:
df.count()

2

In [0]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2'), Row(id=3, value='1000')])

# let's have a look what's inside
df.show()

# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
|  3|  1000|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [0]:
df.count()

3

In [0]:
sum=rdd.sum()
n=rdd.count()
rdd.mean()

49.5

In [0]:
mean=sum/n
print (mean)

49.5

In [0]:
rdd.stats()

(count: 100, mean: 49.5, stdev: 28.86607004772212, max: 99.0, min: 0.0)

In [0]:
rdd.sortBy(lambda x:x).zipWithIndex()
rdd.collect()

[43,
 83,
 61,
 4,
 23,
 63,
 90,
 26,
 92,
 54,
 11,
 8,
 79,
 52,
 39,
 88,
 12,
 6,
 87,
 68,
 78,
 67,
 40,
 15,
 45,
 34,
 56,
 82,
 7,
 65,
 77,
 97,
 48,
 33,
 84,
 24,
 62,
 25,
 80,
 38,
 53,
 60,
 81,
 29,
 75,
 94,
 98,
 35,
 37,
 50,
 14,
 0,
 1,
 20,
 59,
 76,
 58,
 17,
 31,
 66,
 21,
 55,
 41,
 72,
 18,
 36,
 89,
 3,
 9,
 42,
 27,
 73,
 16,
 19,
 46,
 74,
 22,
 57,
 71,
 49,
 99,
 86,
 51,
 28,
 70,
 13,
 30,
 95,
 2,
 93,
 47,
 10,
 85,
 32,
 91,
 96,
 5,
 64,
 69,
 44]

In [0]:
rdd.sortBy(lambda x:x).zipWithIndex().map(lambda (value, key) : (key, value)).collect()

SyntaxError: ignored

In [0]:
rdd.sortBy(lambda x:x).zipWithIndex().map(lambda b, a : a, b).collect()

NameError: ignored

In [0]:
def appendabc(somedict):
    return dict(map(lambda (key, value): (str(key)+"abc", value), somedict.items()))
x={1:1, 2:2}
appendabc(x)

SyntaxError: ignored

In [0]:
 new_dict = dict(map(lambda (key, value): (new_key.replace('#key#', str(key)), value), new_dict.items()))

SyntaxError: ignored

In [0]:
sc = SparkContext.getOrCreate();
rdd = sc.parallelize(range(100))
rdd

NameError: ignored

In [0]:
rdd.sortBy(lambda x:x).zipWithIndex().collect()

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21),
 (22, 22),
 (23, 23),
 (24, 24),
 (25, 25),
 (26, 26),
 (27, 27),
 (28, 28),
 (29, 29),
 (30, 30),
 (31, 31),
 (32, 32),
 (33, 33),
 (34, 34),
 (35, 35),
 (36, 36),
 (37, 37),
 (38, 38),
 (39, 39),
 (40, 40),
 (41, 41),
 (42, 42),
 (43, 43),
 (44, 44),
 (45, 45),
 (46, 46),
 (47, 47),
 (48, 48),
 (49, 49),
 (50, 50),
 (51, 51),
 (52, 52),
 (53, 53),
 (54, 54),
 (55, 55),
 (56, 56),
 (57, 57),
 (58, 58),
 (59, 59),
 (60, 60),
 (61, 61),
 (62, 62),
 (63, 63),
 (64, 64),
 (65, 65),
 (66, 66),
 (67, 67),
 (68, 68),
 (69, 69),
 (70, 70),
 (71, 71),
 (72, 72),
 (73, 73),
 (74, 74),
 (75, 75),
 (76, 76),
 (77, 77),
 (78, 78),
 (79, 79),
 (80, 80),
 (81, 81),
 (82, 82),
 (83, 83),
 (84, 84),
 (85, 85),
 (86, 86),
 (87, 87),
 (88, 88),
 (89, 89),
 (90, 90),
 (91, 91),
 (92, 92),
 (93, 93),
 (94, 94),
 (95, 95),
 (96, 96),
 (97, 97),
 (98, 98),
 (99, 99)]

In [0]:
rdd.sortBy(lambda x:x).zipWithIndex().map(lambda (value, key) : (key, value)). collect()

SyntaxError: ignored

In [0]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [0]:
rdd=sc.parallelize(range(100))
c=rdd.count()
s=rdd.sum()
m=s/c
print (m)

49.5

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

28.86607004772212

In [0]:
rdd=sc.parallelize([49]*100+[100])
c=rdd.count()
s=rdd.sum()
m=s/c
print (m)

49.504950495049506

In [0]:
from math import sqrt
sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)

5.049504950495049

In [0]:
rdd=sc.parallelize(range(100))
c=rdd.count()
s=rdd.sum()
m=s/c
print (m)

49.5

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

28.86607004772212

In [0]:
c=float(c)

In [0]:
skewness= c/((c-1)*(c-2))*rdd.map(lambda x: pow(x-m, 3)/pow(sd, 3)).sum()
print (skewness)

2.929469122902907e-16

In [0]:
rdd=sc.parallelize(list(range(100))+[1000]*10000)
c=rdd.count()
s=rdd.sum()
m=s/c
print (m)

990.5891089108911

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

94.15273288176641

In [0]:
skewness= c/((c-1)*(c-2))*rdd.map(lambda x: pow(x-m, 3)/pow(sd, 3)).sum()
print (skewness)

-9.917035083631724

In [0]:
rdd=sc.parallelize(list(range(100))+[-1000]*10000)
c=rdd.count()
s=rdd.sum()
m=s/c
print (m)

-989.6089108910891

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

103.95058098411899

In [0]:
skewness= c/((c-1)*(c-2))*rdd.map(lambda x: pow(x-m, 3)/pow(sd, 3)).sum()
print (skewness)

9.914504914127274

In [0]:
rdd = sc.parallelize(list(range(100)))
c = rdd.count()
s=rdd.sum()
m=s/c
print (m)

49.5

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

28.86607004772212

Chek the formula below to the above , the guy is really confusing the skewness fomulae, the results are similar though.

In [0]:
skewness= rdd.map(lambda x: pow(x-m, 3)/pow(sd, 3)).sum()/c
print (skewness)

2.842170943040401e-16

In [0]:
kurtosis = rdd.map(lambda x: pow(x-m, 4)/pow(sd, 4)).sum()/c
print (kurtosis)

1.7997599759975997

In [0]:
rdd = sc.parallelize(list(range(100))+[1000]*10000)
c = rdd.count()
s=rdd.sum()
m=s/c
print (m)

990.5891089108911

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

94.15273288176641

In [0]:
kurtosis = rdd.map(lambda x: pow(x-m, 4)/pow(sd, 4)).sum()/c
print (kurtosis)

99.3838276800179

In [0]:
rdd = sc.parallelize(list(range(100))+[-1000]*10000)
c = rdd.count()
s=rdd.sum()
m=s/c
print (m)

-989.6089108910891

In [0]:
from math import sqrt
sd= sqrt(rdd.map(lambda x: pow(x-m, 2)).sum()/c)
print (sd)

103.95058098411899

In [0]:
kurtosis = rdd.map(lambda x: pow(x-m, 4)/pow(sd, 4)).sum()/c
print (kurtosis)

99.31671934325138

Compare the formulaes of kurtosis, they are little different. c vs (1-c).

In [0]:
kurtosis = rdd.map(lambda x: pow(x-m, 4)/pow(sd, 4)).sum()/(1-c)
print (kurtosis)

-99.3265536554945

In [0]:
rddx = sc.parallelize(list(range(100)))
rddy = sc.parallelize(list(range(100)))
mx = rddx.sum()/rddx.count()
my = rddy.sum()/rddy.count()
print (mx, my)
c=rddx.count()

49.5 49.5

In [0]:
#covarience = ((rddx.map(lambda x: (x-mx)))*(rddy.map(lambda y: (y-my)))).sum()/ float(c)

In [0]:
#cx = rddx.map(lambda x: (x-mx))
#cy = rddy.map(lambda y: (y-my))
#covarience = cx*cy.sum()/float(c)

In [0]:
xy=rddx.zip(rddy)
xy.take(5)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [0]:
xy.map(lambda (x, y) : (x-49)*(y-49)).sum()

SyntaxError: ignored

In [0]:
#covarience = xy.map(lambda x,y: (x-mx)*(y-my)).sum()/float(c)

In [0]:
sum((x - mx) * (y - my) for (x,y) in rddx. zip(rddy)) / rddx.count()

TypeError: ignored

In [0]:
#xysum = xy.map(lambda x, y : (x-mx)*(y-my)).sum()

In [0]:
x = [1, 2, 3, 4, 5]

y = [1, 2, 3, 4, 5]
#a =list(sum(map(x)))
#mean_x = sum(x) / len(x)
#mean_y = sum(y) / len(y)
#mx=x.map(lambda x: (x+x))/len(x)
#sum((a - mean_x) * (b - mean_y) for (a,b) in zip(x,y)) / len(x)
c=0
mx=0
my=0
for i in range (len(x)):
  mx=mx+x[i]/len(x)
  my=my+y[i]/len(y)
  c=c+(x[i]-mx)*(y[i]-my)
print(c, mx, my)

13.84 3.0 3.0

In [0]:
rddx = sc.parallelize(list(range(100)))
rddy = sc.parallelize(list(range(100)))
mx = rddx.sum()/rddx.count()
my = rddy.sum()/rddy.count()
print (mx, my)
c=rddx.count()

49.5 49.5

In [0]:

cv=0
for i in range (rddx.count()):
  cv=cv+(rddx[i]-mx)*(rddy[i]-my)

print(cv)

TypeError: ignored

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation

In [0]:
(rddx.map(lambda x: x-mx)* rddy.map(lambda y: y-my)).sum()
#yv=rddy.map(lambda x: x-mx).sum()
#print (xv, xy)

TypeError: ignored

In [0]:
data = [(10, {3: 3.616726727464709, 4: 2.9996439803387602, 5: 1.6767412921625855}),
        (1, {3: 2.016527311459324, 4: -1.5271512313750577, 5: 1.9665475696370045}),
        (2, {3: 6.230272144805092, 4: 4.033642544526678, 5: 3.1517805604906313}),
        (3, {3: -0.3924680103722977, 4: 2.9757316477407443, 5: -1.5689126834176417})]

In [0]:
rdd = sc.parallelize(data)

In [0]:
df = rdd.toDF(["CId", "Values"])

In [0]:
from pyspark.sql.functions import explode
df.select("CId", explode("Values").alias("IID", "Score")).show()

+---+---+-------------------+
|CId|IID|              Score|
+---+---+-------------------+
| 10|  3|  3.616726727464709|
| 10|  4| 2.9996439803387602|
| 10|  5| 1.6767412921625855|
|  1|  3|  2.016527311459324|
|  1|  4|-1.5271512313750577|
|  1|  5| 1.9665475696370045|
|  2|  3|  6.230272144805092|
|  2|  4|  4.033642544526678|
|  2|  5| 3.1517805604906313|
|  3|  3|-0.3924680103722977|
|  3|  4| 2.9757316477407443|
|  3|  5|-1.5689126834176417|
+---+---+-------------------+

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation

data = [(Vectors.sparse(4, [(0, 1.0), (3, -2.0)]),),
        (Vectors.dense([4.0, 5.0, 0.0, 3.0]),),
        (Vectors.dense([6.0, 7.0, 0.0, 8.0]),),
        (Vectors.sparse(4, [(0, 9.0), (3, 1.0)]),)]
df = spark.createDataFrame(data, ["features"])

r1 = Correlation.corr(df, "features").head()
print("Pearson correlation matrix:\n" + str(r1[0]))

r2 = Correlation.corr(df, "features", "spearman").head()
print("Spearman correlation matrix:\n" + str(r2[0]))

Pearson correlation matrix:
DenseMatrix([[1.        , 0.05564149,        nan, 0.40047142],
             [0.05564149, 1.        ,        nan, 0.91359586],
             [       nan,        nan, 1.        ,        nan],
             [0.40047142, 0.91359586,        nan, 1.        ]])
Spearman correlation matrix:
DenseMatrix([[1.        , 0.10540926,        nan, 0.4       ],
             [0.10540926, 1.        ,        nan, 0.9486833 ],
             [       nan,        nan, 1.        ,        nan],
             [0.4       , 0.9486833 ,        nan, 1.        ]])

In [0]:
rddx = sc.parallelize(list(range(100)))
rddy = sc.parallelize(list(range(100)))
mx = rddx.sum()/rddx.count()
my = rddy.sum()/rddy.count()
print (mx, my)
c=rddx.count()

49.5 49.5

In [0]:
xy=rddx.zip(rddy)
xy.take(5)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [0]:
df3 = spark.createDataFrame(xy, ['x', 'y'])
df3.show()

+---+---+
|  x|  y|
+---+---+
|  0|  0|
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
|  5|  5|
|  6|  6|
|  7|  7|
|  8|  8|
|  9|  9|
| 10| 10|
| 11| 11|
| 12| 12|
| 13| 13|
| 14| 14|
| 15| 15|
| 16| 16|
| 17| 17|
| 18| 18|
| 19| 19|
+---+---+
only showing top 20 rows

In [0]:
##df1r1 = Correlation.corr(df3, 'y').head()
#print("Pearson correlation matrix:\n" + str(r1[0]))

In [0]:
from pyspark.sql.functions import monotonically_increasing_id 

df3_index = df3.select("*").withColumn("id", monotonically_increasing_id())
df3_index.show()

+---+---+---+
|  x|  y| id|
+---+---+---+
|  0|  0|  0|
|  1|  1|  1|
|  2|  2|  2|
|  3|  3|  3|
|  4|  4|  4|
|  5|  5|  5|
|  6|  6|  6|
|  7|  7|  7|
|  8|  8|  8|
|  9|  9|  9|
| 10| 10| 10|
| 11| 11| 11|
| 12| 12| 12|
| 13| 13| 13|
| 14| 14| 14|
| 15| 15| 15|
| 16| 16| 16|
| 17| 17| 17|
| 18| 18| 18|
| 19| 19| 19|
+---+---+---+
only showing top 20 rows

In [0]:
#df3_index.select('id', 'x', 'y')
#df3_index.show()

In [0]:
#df3_index.select(["id", "x", "y"])
#df3_index.show()

In [0]:
df3.describe().show()

+-------+------------------+------------------+
|summary|                 x|                 y|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              49.5|              49.5|
| stddev|29.011491975882016|29.011491975882016|
|    min|                 0|                 0|
|    max|                99|                99|
+-------+------------------+------------------+

In [0]:
df3_index.describe().show()

+-------+------------------+------------------+-------------------+
|summary|                 x|                 y|                 id|
+-------+------------------+------------------+-------------------+
|  count|               100|               100|                100|
|   mean|              49.5|              49.5|     4.2949673205E9|
| stddev|29.011491975882016|29.011491975882016|4.316604547781606E9|
|    min|                 0|                 0|                  0|
|    max|                99|                99|         8589934641|
+-------+------------------+------------------+-------------------+

In [0]:
df3_index.describe('x', 'y').show()

+-------+------------------+------------------+
|summary|                 x|                 y|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              49.5|              49.5|
| stddev|29.011491975882016|29.011491975882016|
|    min|                 0|                 0|
|    max|                99|                99|
+-------+------------------+------------------+

In [0]:
df3_index.stat.cov('x', 'y')

841.6666666666666

In [0]:
df3_index.stat.corr('x', 'y')

1.0

In [0]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
names = ["Alice", "Bob", "Mike"]
items = ["milk", "bread", "butter", "apples", "oranges"]
df4 = sqlContext.createDataFrame([(names[i % 3], items[i % 5]) for i in range(100)], ["name", "item"])
df4.show(10)

+-----+-------+
| name|   item|
+-----+-------+
|Alice|   milk|
|  Bob|  bread|
| Mike| butter|
|Alice| apples|
|  Bob|oranges|
| Mike|   milk|
|Alice|  bread|
|  Bob| butter|
| Mike| apples|
|Alice|oranges|
+-----+-------+
only showing top 10 rows

In [0]:
df5=df4.stat.crosstab("name", "item")
df5.show()

+---------+------+-----+------+----+-------+
|name_item|apples|bread|butter|milk|oranges|
+---------+------+-----+------+----+-------+
|      Bob|     6|    7|     7|   6|      7|
|     Mike|     7|    6|     7|   7|      6|
|    Alice|     7|    7|     6|   7|      7|
+---------+------+-----+------+----+-------+

In [0]:
df5.describe()

DataFrame[summary: string, name_item: string, apples: string, bread: string, butter: string, milk: string, oranges: string]

In [0]:
df5.describe('apples', 'bread').show()

+-------+------------------+------------------+
|summary|            apples|             bread|
+-------+------------------+------------------+
|  count|                 3|                 3|
|   mean| 6.666666666666667| 6.666666666666667|
| stddev|0.5773502691896257|0.5773502691896257|
|    min|                 6|                 6|
|    max|                 7|                 7|
+-------+------------------+------------------+

In [0]:
df5.stat.cov('apples', 'bread')

-0.16666666666666666

In [0]:
#df5.stat.cov('apples', 'bread', 'butter')

In [0]:
df5.stat.corr('apples', 'bread')

-0.5

In [0]:
 from pyspark.sql.functions import rand, randn
 #df = sqlContext.range(0, 10).withColumn('uniform', rand(seed=10)).withColumn('normal', randn(seed=27))
#df6=sqlContext.createDataFrame([range(100), reversed(range(100))], ['x','y'])
#df6= sqlContext.withColumn('x', range(100)).withColumn ('y', reversed(range(100)))

In [0]:
x = sc.parallelize(range(100))
y = sc.parallelize(reversed(range(100)))
xy=x.zip(y)
xy.take(5)

[(0, 99), (1, 98), (2, 97), (3, 96), (4, 95)]

In [0]:
df6 = spark.createDataFrame(xy, ['x', 'y'])
df6.show()

+---+---+
|  x|  y|
+---+---+
|  0| 99|
|  1| 98|
|  2| 97|
|  3| 96|
|  4| 95|
|  5| 94|
|  6| 93|
|  7| 92|
|  8| 91|
|  9| 90|
| 10| 89|
| 11| 88|
| 12| 87|
| 13| 86|
| 14| 85|
| 15| 84|
| 16| 83|
| 17| 82|
| 18| 81|
| 19| 80|
+---+---+
only showing top 20 rows

In [0]:
df6.stat.cov('x', 'y')

-841.6666666666666

In [0]:
df6.stat.corr('x', 'y')

-1.0

In [0]:
df6.describe().show()

+-------+------------------+------------------+
|summary|                 x|                 y|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              49.5|              49.5|
| stddev|29.011491975882016|29.011491975882016|
|    min|                 0|                 0|
|    max|                99|                99|
+-------+------------------+------------------+

In [0]:
import random
x = sc.parallelize(random.sample(range(100),100))
y = sc.parallelize(random.sample(range(100),100))
xy=x.zip(y)
xy.take(5)

[(14, 46), (31, 8), (27, 66), (72, 83), (41, 97)]

In [0]:
df7 = spark.createDataFrame(xy, ['x', 'y'])
df7.show()

+---+---+
|  x|  y|
+---+---+
| 14| 46|
| 31|  8|
| 27| 66|
| 72| 83|
| 41| 97|
| 58| 13|
| 76| 88|
| 57| 43|
| 47| 55|
| 22| 62|
| 35| 49|
| 12| 31|
|  7| 41|
| 68|  4|
| 23| 37|
| 50| 92|
| 85| 17|
| 64| 70|
| 26| 18|
| 34| 89|
+---+---+
only showing top 20 rows

In [0]:
df7.describe().show()

+-------+------------------+------------------+
|summary|                 x|                 y|
+-------+------------------+------------------+
|  count|               100|               100|
|   mean|              49.5|              49.5|
| stddev|29.011491975882024|29.011491975882016|
|    min|                 0|                 0|
|    max|                99|                99|
+-------+------------------+------------------+

In [0]:
df7.stat.cov('x', 'y')

102.02020202020202

In [0]:
df7.stat.corr('x', 'y')

0.12121212121212119

In [0]:
import random
c1=sc.parallelize(range(100))
c2=sc.parallelize(range(100, 200))
c3=sc.parallelize(list(reversed(range(100))))
c4=sc.parallelize(random.sample(range(100),100))
ac=c1.zip(c2).zip(c3).zip(c4)#.map(lambda (((a,b),c),d) : (a,b,c,d))
ac.take(5)

[(((0, 100), 99), 57),
 (((1, 101), 98), 23),
 (((2, 102), 97), 65),
 (((3, 103), 96), 82),
 (((4, 104), 95), 46)]

In [0]:
df8=sc.parallelize(ac.collect())
df8.take(5)

[(((0, 100), 99), 57),
 (((1, 101), 98), 23),
 (((2, 102), 97), 65),
 (((3, 103), 96), 82),
 (((4, 104), 95), 46)]

In [0]:
#df8[0]

very important only lambda function can be used to solve the nested tuples. Indexing of RDD is possible only in lambda function but not outside

In [0]:
cdf8=df8.map(lambda x : (x[0][0][0], x[0][0][1], x[0][1], x[1]))
cdf8.take(4)

[(0, 100, 99, 57), (1, 101, 98, 23), (2, 102, 97, 65), (3, 103, 96, 82)]

In [0]:
cdf88 = cdf8.map(lambda x : [x[0], x[1], x[2], x[3]])
cdf88.take(10)

[[0, 100, 99, 57],
 [1, 101, 98, 23],
 [2, 102, 97, 65],
 [3, 103, 96, 82],
 [4, 104, 95, 46],
 [5, 105, 94, 33],
 [6, 106, 93, 32],
 [7, 107, 92, 16],
 [8, 108, 91, 8],
 [9, 109, 90, 67]]

you can combine the top two into single code as shown below

In [0]:
cdf888=df8.map(lambda x : (x[0][0][0], x[0][0][1], x[0][1], x[1])).map(lambda x : [x[0], x[1], x[2], x[3]])
cdf888.take(10)

[[0, 100, 99, 57],
 [1, 101, 98, 23],
 [2, 102, 97, 65],
 [3, 103, 96, 82],
 [4, 104, 95, 46],
 [5, 105, 94, 33],
 [6, 106, 93, 32],
 [7, 107, 92, 16],
 [8, 108, 91, 8],
 [9, 109, 90, 67]]

You can make lists and use statistics function as shown below that is option one. or convert into data frame from the list of tuples like df9

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.mllib.stat import Statistics
Statistics.corr(cdf888)

array([[ 1.        ,  1.        , -1.        , -0.07480348],
       [ 1.        ,  1.        , -1.        , -0.07480348],
       [-1.        , -1.        ,  1.        ,  0.07480348],
       [-0.07480348, -0.07480348,  0.07480348,  1.        ]])

In [0]:
df9 = spark.createDataFrame(cdf8, ['a', 'b', 'c', 'd'])
df9.show()

+---+---+---+---+
|  a|  b|  c|  d|
+---+---+---+---+
|  0|100| 99| 57|
|  1|101| 98| 23|
|  2|102| 97| 65|
|  3|103| 96| 82|
|  4|104| 95| 46|
|  5|105| 94| 33|
|  6|106| 93| 32|
|  7|107| 92| 16|
|  8|108| 91|  8|
|  9|109| 90| 67|
| 10|110| 89| 45|
| 11|111| 88| 53|
| 12|112| 87| 27|
| 13|113| 86| 51|
| 14|114| 85| 34|
| 15|115| 84| 86|
| 16|116| 83| 59|
| 17|117| 82| 72|
| 18|118| 81|  6|
| 19|119| 80| 69|
+---+---+---+---+
only showing top 20 rows

In [0]:
df9.describe().show()

+-------+------------------+------------------+------------------+-----------------+
|summary|                 a|                 b|                 c|                d|
+-------+------------------+------------------+------------------+-----------------+
|  count|               100|               100|               100|              100|
|   mean|              49.5|             149.5|              49.5|             49.5|
| stddev|29.011491975882016|29.011491975882013|29.011491975882016|29.01149197588202|
|    min|                 0|               100|                 0|                0|
|    max|                99|               199|                99|               99|
+-------+------------------+------------------+------------------+-----------------+

In [0]:
#from pyspark.ml.linalg import Vectors
#from pyspark.ml.stat import Correlation
#rr1 = Correlation.corr(df9, ['a', 'b', 'c', 'd']).head()
#rr1 = Correlation.corr(df9, ['a']).head()
#print("Pearson correlation matrix:\n" + str(rr1[0]))

Py4JError: ignored

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.stat import Correlation

data = [(Vectors.sparse(4, [(0, 1.0), (3, -2.0)]),),
        (Vectors.dense([4.0, 5.0, 0.0, 3.0]),),
        (Vectors.dense([6.0, 7.0, 0.0, 8.0]),),
        (Vectors.sparse(4, [(0, 9.0), (3, 1.0)]),)]
df11 = spark.createDataFrame(data, ["features"])
df11.show()

+--------------------+
|            features|
+--------------------+
|(4,[0,3],[1.0,-2.0])|
|   [4.0,5.0,0.0,3.0]|
|   [6.0,7.0,0.0,8.0]|
| (4,[0,3],[9.0,1.0])|
+--------------------+

In [0]:
r1 = Correlation.corr(df11, "features").head()
print("Pearson correlation matrix:\n" + str(r1[0]))

r2 = Correlation.corr(df11, "features", "spearman").head()
print("Spearman correlation matrix:\n" + str(r2[0]))

Pearson correlation matrix:
DenseMatrix([[1.        , 0.05564149,        nan, 0.40047142],
             [0.05564149, 1.        ,        nan, 0.91359586],
             [       nan,        nan, 1.        ,        nan],
             [0.40047142, 0.91359586,        nan, 1.        ]])
Spearman correlation matrix:
DenseMatrix([[1.        , 0.10540926,        nan, 0.4       ],
             [0.10540926, 1.        ,        nan, 0.9486833 ],
             [       nan,        nan, 1.        ,        nan],
             [0.4       , 0.9486833 ,        nan, 1.        ]])

In [0]:
import pandas as pd
import numpy as np
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler

data = pd.DataFrame(np.random.random((10, 5)), 
                   columns=["x{}".format(x) for x in range(5)])
df10 = spark.createDataFrame(data)

df10.show()

+-------------------+--------------------+-------------------+--------------------+-------------------+
|                 x0|                  x1|                 x2|                  x3|                 x4|
+-------------------+--------------------+-------------------+--------------------+-------------------+
| 0.1952988878483758|  0.7787190760939708| 0.4964086482468574|0.017757584846285646|0.23205145270012917|
| 0.9734894712857163|0.014763526963609386| 0.5012087935167012|0.038300796487239275| 0.7895062408669744|
|0.25805754613690934|   0.671221799811966| 0.2270012474844022| 0.22017508805065322|0.07663242097828948|
|  0.596854072727563|  0.5682005457388201| 0.3456860360621338|  0.8041920496039693| 0.8402887314598311|
|0.04848617710202885| 0.09047581335063493| 0.3815649733560007|  0.7611562717396135| 0.9155487684222161|
| 0.5774955606404177| 0.22699202504569593| 0.2993922062701777| 0.08226220571133303| 0.7885679369729096|
|0.12354975556830428|  0.7284525611526673| 0.4487521000696927|  0.5428783968944402| 0.4209507259163101|
| 0.8956213550445146| 0.27706232728083546|  0.635777365197277|  0.5733356932691821| 0.7233329003078887|
|0.01223643197411095|  0.2122982649737678|0.04935928523125166|   0.654831622147496|0.29368355723119854|
|0.34477499537688516|  0.6246432378369177|  0.940373756553767| 0.07272639583876961| 0.7310496178900538|
+-------------------+--------------------+-------------------+--------------------+-------------------+

In [0]:
# convert to vector column first
vector_col = "corr_features"
assembler = VectorAssembler(inputCols=df10.columns, outputCol=vector_col)
df_vector = assembler.transform(df10).select(vector_col)

# get correlation matrix
matrix = Correlation.corr(df_vector, vector_col)
matrix.collect()[0]["pearson({})".format(vector_col)].values

array([ 1.        , -0.36241196,  0.3343032 , -0.24404837,  0.49170703,
       -0.36241196,  1.        ,  0.21487115, -0.16438049, -0.56422022,
        0.3343032 ,  0.21487115,  1.        , -0.35914036,  0.37365962,
       -0.24404837, -0.16438049, -0.35914036,  1.        ,  0.21982541,
        0.49170703, -0.56422022,  0.37365962,  0.21982541,  1.        ])

In [0]:
from pyspark.mllib.stat import Statistics
import pandas as pd

# result can be used w/ seaborn's heatmap
def compute_correlation_matrix(df, method='pearson'):
    # wrapper around
    # https://forums.databricks.com/questions/3092/how-to-calculate-correlation-matrix-with-all-colum.html
    df_rdd = df.rdd.map(lambda row: row[0:])
    corr_mat = Statistics.corr(df_rdd, method=method)
    corr_mat_df = pd.DataFrame(corr_mat,
                    columns=df.columns, 
                    index=df.columns)
    return corr_mat_df

In [0]:
compute_correlation_matrix (df9)

          a         b         c         d
a  1.000000  1.000000 -1.000000 -0.074803
b  1.000000  1.000000 -1.000000 -0.074803
c -1.000000 -1.000000  1.000000  0.074803
d -0.074803 -0.074803  0.074803  1.000000

In [0]:
compute_correlation_matrix (df10)

          x0        x1        x2        x3        x4
x0  1.000000 -0.362412  0.334303 -0.244048  0.491707
x1 -0.362412  1.000000  0.214871 -0.164380 -0.564220
x2  0.334303  0.214871  1.000000 -0.359140  0.373660
x3 -0.244048 -0.164380 -0.359140  1.000000  0.219825
x4  0.491707 -0.564220  0.373660  0.219825  1.000000

In [0]:
#compute_correlation_matrix (df11)

In [0]:

#ac1=sc.parallelize(ac)

#df8 = spark.createDataFrame(ac, ['c1', 'c2', 'c3', 'c4'])
#df8.show()

In [0]:
#from pyspark.sql.functions import explode
#df8 = ac.toDF([ "Values", 'd'])
#df8.select(explode("Values").alias("a", "b", 'c'),  'd').show()